@{
    ViewBag.Title = "Home Page";
}

<div class="card" style="width: 18rem;">
    <img src="https://www.google.com/search?q=tek+ki%C5%9Filik+otel+odas%C4%B1&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjE3_KNnv75AhV1Q_EDHQU9CU8Q_AUoAnoECAEQBA&biw=1536&bih=722&dpr=1.25#imgrc=g01Yi2AUeTjD6M" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>